a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.container {
    display: grid;
    grid-template-rows: 2fr 4fr 4fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
    gap: 8px;
}

.container div {
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.sidebar-nav {
    background-color: #1e3a8a;
    color: white;


    display: grid;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    gap: 15px;
}

.menu{
    list-style: none;
    display: grid;
}

.menu ul {
    font-size: 12px;
    list-style: none;
}

.card-container {
    background-color: #e2e8f0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.card-container .card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    padding: 12px;
    transition: transform .2s;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.card:hover {
    zoom: scale(1.1);
}

.sidebar-announcements {
    background-color: #facc15;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

.sidebar-announcements .card {
    background-color: blueviolet;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 12px;
    padding: 12px;

    display: grid;
    grid-template-rows: 1fr 1fr;

}

.footer {
    background-color: #1f2937;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: grid;
    justify-content: center;
    align-items: center;
}